<div class="welcome-container">

    <div class="welcome-image">
        <img src="../../../assets/images/logo.png" class="logo" />
        <img src="../../../assets/images/“.png" class="comma" />
        
        <p class="paragraph-welcome">We believe it’s time we changed the way we talk about climate action from being the elephant in <br />the room, to a part of everyday life</p>
          <div class="verctor-name">
           <span class="name">Charlotte Horler</span>
           <img  src="../../../assets/images/Vector 1.png" class="vector">
          </div>
   
    </div>
    <div class="join-container">
      <div class="nav-welcome">
          <img  src="../../../../assets/images/arrow_back_ios_24px.png" class="arrow-back"/>
       <span class="back">Back</span>
      </div>
   <div class="join">
       <h1 class="login-title">Register Company Account!</h1>
        <p class="login-description">For the purpose of industry regulation, your details are required.</p>
   
   
    </div>

    <div class="login-form">
    

        <label class="">Email Address *</label>
        <input type="text" placeholder="Enter Email Address" class="name"/>

        <label class="">Create Password *</label>
        <input type="text" placeholder="Enter Password" class="name"/>

       <button class="login-btn">Login Account</button>
       <span class="or-span">Or</span>
       <button class="login-btn-google">Login Account</button>
       <div class="signUp-account">

   <div class="register">
    <span>If you don`t have a account</span>  <a [routerLink]="['/register']">Sign Up</a>
   </div>
    
<div class="register">

    <span class="reset">If youforget your password</span> 
       <a [routerLink]="['/reset']">Reset Password</a>
    </div>
    </div>
    </div>
   </div>
   