<div class="nav-bar nav">
    <div class="logo">
        <img src="../../../../assets/images/logo.png"/>
        <span class="survey">Survey</span>
    </div>
    <div class="nav nav-nav">
       <div class="nav-img">
        <img src="../../../../assets/images/comment-alt-lines 1.png"/>
        <img src="../../../../assets/images/Notification.png"/>
        <i class="fa-solid fa-bell"></i>
       
        <img src="../../../../assets/images/cog 1.png"/>
       </div>
       <div class="nav-profile nav">
        <img src="../../../../assets/images/Profile.png"/>
        <div class="profile-contact">

        
        <span class="admin-name">Asfak Mahmud</span>
    <span class="email">asfakmahmudbd@gmaill.com</span>
</div>
       </div>
    </div>
</div>