<div class="error_div" *ngIf="showMsg">
  <app-error-message [message]="msg"> </app-error-message>
</div>
<div class="welcome-container">
  <app-auth-image-side class="auth_image" [imageHeight]="'600px'"></app-auth-image-side>

  <div class="join-container">
    <div class="join">
      <h1>Reset Password</h1>
      <label>Email</label>
      <input
        type="text"
        name="email"
        [(ngModel)]="email"
        placeholder=" Enter your email address"
        class="email_input"
      />
      <div class="login">
        <a [routerLink]="['/login']">Go to login</a>
      </div>
      <button (click)="resetPassword()" class="reset-btn">Submit</button>
    </div>
  </div>
</div>
