.teams-chart{
    width:20%;
    height:20%;
    margin-left:12%;
   padding-top:18px
}

@media (max-width: 650px) {
    .teams-chart{
        width:50%;
        height:50%;
        margin-left:12%;
       padding-top:18px
    }
  }
  