.teams_chart {
  /* width:250px !important; */
  width: 60% !important;
  height: 100%;

  border-top: 1px solid #ddd;
  box-shadow: 2px 2px 2px 2px #dddd;
margin-left: 20px;
  padding: 10px;
  border-radius: 15px;
}

@media (max-width: 700px) {
  .teams-chart {
    width: 50%;
    height: 50%;
    margin-left: 12%;
    padding-top: 18px;
  }
}
