<div class="welcome-image" [style]="'height:'+imageHeight">
  <img src="../../../../assets/images/logo.png" class="logo" />
  <img src="../../../../assets/images/“.png" class="comma" />

  <p class="paragraph-welcome">
    We believe it’s time we changed the way we talk about climate action from
    being the elephant in
    <br />
    the room, to a part of everyday life
  </p>
  <div class="verctor-name">
    <span class="name">Charlotte Horler</span>
    <img src="../../../../assets/images/Vector 1.png" class="vector" />
  </div>
</div>
