<div class="welcome-container">

 <div class="welcome-image">
     <img src="../../../assets/images/logo.png" class="logo" />
     <img src="../../../assets/images/“.png" class="comma" />
     
     <p class="paragraph-welcome">We believe it’s time we changed the way we talk about climate action from being the elephant in <br />the room, to a part of everyday life</p>
       <div class="verctor-name">
        <span class="name">Charlotte Horler</span>
        <img  src="../../../assets/images/Vector 1.png" class="vector">
       </div>

 </div>
 <div class="join-container">
   <div class="nav-welcome">
    <span class="account">Already have an account? <a class="login" [routerLink]="['/login']">Sign In</a></span>
   </div>
<div class="join">


<h3 class="join-title">Join Us!</h3>
<p class="join-para">To begin this journey, tell us what type of company account you’d be opening.</p>
<div class="company">
  <img src="../../../assets/images/Polygon 1.png">
  <div class="company-description">
    <p class="company-title">Company</p><br/>
    <p class="para-company">Personal account to manage all you activities.</p>
  </div>
  <img src="../../../assets/images/arrow-right.png" class="arrow"/>
</div>


<div class="ngo">
  <img src="../../../assets/images/Polygon 2.png">
  <div class="company-description">
    <p class="company-title">Company</p><br/>
    <p class="para-company">Personal account to manage all you activities.</p>
  </div>

</div>

</div>
 </div>
</div>
