<div class="welcome-container">
  <app-auth-image-side class="auth_image" [imageHeight]="'650px'"></app-auth-image-side>
  <div class="join-container">
    <div class="nav-welcome">
      <div class="register">
        <span>have account ?</span>
        <a [routerLink]="['/login']">Sign in</a>
      </div>
    </div>
    <div class="join">
      <h1 class="register-title">Register Company Account!</h1>
      <p class="register-description">
        For the purpose of industry regulation, your details are required.
      </p>
    </div>

    <div class="register-form">
      <form [formGroup]="proForm" class="register-form-input" name="regform">
        <label class="">Full Name *</label>
        <input
          type="text"
          placeholder="Enter Full Name"
          class="name"
          formControlName="name"
          required
        />
        <div *ngIf="r['name'].touched && r['name'].invalid">
          <div
            *ngIf="r['name'].errors && r['name'].errors['required']"
            class="handle-error"
          >
            Name is required.
          </div>
        </div>
        <!-- <label class="">Phone Number</label>
        <input
          type="number"
          placeholder="Enter Phone Number"
          class="name"
          formControlName="phone"
        /> -->
        <!-- <div *ngIf="r['phone'].touched && r['phone'].invalid">
          <div
            *ngIf="r['phone'].errors && r['phone'].errors['required']"
            class="handle-error"
          >
            phone is required.
          </div>
        </div> -->
      </form>
      <form [formGroup]="registerForm" class="register-form-input">
        <label class="">Email Address *</label>
        <input
          type="text"
          placeholder="Enter Email Address"
          class="name"
          formControlName="email"
          required
        />
        <div *ngIf="f['email'].touched && f['email'].invalid">
          <div
            *ngIf="f['email'].errors && f['email'].errors['required']"
            class="handle-error"
          >
            Email is required.
          </div>
          <div
            *ngIf="f['email'].errors && f['email'].errors['email']"
            class="handle-error"
          >
            Please, enter valid email address.
          </div>
        </div>

        <label class="">Create Password *</label>
        <input
          type="password"
          placeholder="Enter Password"
          class="name"
          formControlName="password"
          required
          minlength="3"
        />
        <label class="">Confirm Password</label>
        <input
          type="password"
          placeholder="Enter Password"
          class="name"
          formControlName="confirmpassword"
          required
          minlength="3"
        />
        <div *ngIf="showErrorDifferenetPass" class="handle-error">
          Passwords don't match
        </div>

        <div *ngIf="f['password'].touched && f['password'].invalid">
          <div
            *ngIf="f['password'].errors && f['password'].errors['required']"
            class="handle-error"
          >
            Password is required.
          </div>
  
          <div
            *ngIf="f['password'].errors && f['password'].errors['password']"
            class="handle-error"
          >
            Please, enter valid password.
          </div>
        </div>
      </form>

      <button class="register-btn" (click)="register()">
        Register Account
      </button>

      <p class="massage">{{ massage }}</p>
    </div>
  </div>
</div>
