<div class="chart">
  <p class="graph_title">{{ header }}</p>
  <div class="line">
    <div
      *ngIf="statistics?.agree"
      [ngStyle]="{ width: statistics?.agree + '%' }"
      class="bowl agree"
    >
      {{ statistics?.agree }}%
    </div>

    <div
      *ngIf="statistics?.neutral"
      [ngStyle]="{ width: statistics?.neutral + '%' }"
      class="bowl neutral"
    >
      {{ statistics?.neutral }}%
    </div>
    <div
      *ngIf="statistics?.disagree"
      [ngStyle]="{ width: statistics?.disagree + '%' }"
      class="bowl disagree"
    >
      {{ statistics?.disagree }}%

    </div>
  </div>
</div>
