.chart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
}

.graph_title {
  color: rgba(0, 0, 0, 0.76);
}

.line {
  margin-top: 15px;
  display: flex;
  height: 40px;
  width: 75%;
}

.bowl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  animation: animate 0.5s ease-in-out;
}

@media (max-width: 500px) {
  .chart {
    flex-direction: column;
    margin-top: 15px;
    align-items: flex-start;
  }

  .line {
    margin-top: 7px;
    width: 95%;
  }
}

@keyframes animate {
  0% {
    width: 0;
    opacity: 0;
  }
}

.bowl.agree {
  background-color: #61c6cb;
  border-radius: 15px 0 0 15px;
}
.bowl.neutral {
  background-color: #f7842a;
}
.bowl.disagree {
  background-color: #be3635;
  border-radius: 0px 15px 15px 0;
}
