.chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 550;
  padding:10px ;
}

.graph_title {
  margin: 10px 7px 0 0;
  width: 135px;
  color: rgba(0, 0, 0, 0.76);
  font-size: 18px;
}



.line {
  margin-top: 15px;
  display: flex;
  height: 40px;
  width: 85%;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  overflow: hidden;

}

.bowl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  animation: animate 0.5s ease-in-out;
}

@media (max-width: 500px) {
  .chart {
    flex-direction: column;
    margin-top: 15px;
    align-items: flex-start;
  }

  .line {
    margin-top: 7px;
    width: 95%;
  }
}

@keyframes animate {
  0% {
    width: 0;
    opacity: 0;
  }
}

.bowl.agree {
  background-color: #61c6cb;
}

.bowl.neutral {
  background-color: #f7842a;
}

.bowl.disagree {
  background-color: #be3635;
}

@media (max-width: 650px) {
.chart {
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
}
  .line {
    width: 95%;
    font-size: 10px;
    margin-top: 10;
    height: 30px;

  }
  .graph_title {
  font-size: 1rem;
  }

}
