.chart {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 550;
  padding: 2%;
}
.graph_title {
  margin: 10px 7px 0 0 ;
  color: rgba(0, 0, 0, 0.76);
}

.line {
  margin-top: 10px;
  display: flex;
  height: 50px;
  width: 85%;
}

.bowl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.bowl.agree {
  background-color: #61c6cb;
  border-radius: 15px 0 0 15px;
}
.bowl.neutral {
  background-color: #f7842a;
}
.bowl.disagree {
  background-color: #be3635;
  border-radius: 0px 15px 15px 0;
}

@media (max-width: 650px) {
  .line {
    width: 95%;
    font-size: 10px;
    margin-top: 0;
  }
  .chart {
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
  }
}
