.main_container {
  width: 80%;
  transition: 0.3s ease-in-out;
  margin: 80px 100px 10px 20%;
  height: 100%;
}

.main_container.active {
  width: calc(100% - 75px);
  margin-left: 75px;
}
.search_comp {
  width: 80%;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
}
.snapshots_container{
  width:85%;
  display: flex;
  flex-wrap: wrap;
  border: none;
  box-shadow: -1px 2px 9px -1px rgba(224, 224, 224, 0.867);
  padding: 20px;
  margin-top: 20px;
}
.legend{
  font-weight: bold;
  font-size: 22px;
}
.snapshot{
  width: 95%;
}
.cont_snap{
  width: 50%;
}
@media screen and (max-width: 1100px) {
  .cont_snap{
    width: 80% ;
    font-size: 13px;
  }
}
@media screen and (max-width: 700px) {
  .content {
    width: 95%;
    margin: 65px auto;
  }
  .main_container {
    width: 100%;
    margin-left: 0px;
  }
  .main_container.active {
    display: none;
    visibility: hidden;
  }
}
