<nav>
  <div *ngIf="store.loader" class="loader"></div>

  <div class="left_nav">
    <div class="titles">
      <div (click)="onMenu()" class="menu btn_bo">
        <svg focusable="false" viewBox="0 0 24 24">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
      </div>
      <div class="logo">
        <img src="../../../../assets/images/logo.png" alt="nulla_logo" />
        
      </div>
    </div>

    <div class="title_page">
      <span>Surveys</span>
    </div>
  </div>

  <div class="user_profile">
    <span  *ngIf="login" (click)="logout()">Logout</span>
    <div class="user_image">
<img src="../../../../assets/images/user (2).png" (click)="profile()"/> 
    </div>

    <div class="profile_contact">
      <span class="admin_name">Charlotte Horler</span>
      <span class="admin_email">Charlotte@nulla.com</span>
    </div>
  </div>
</nav>
