.search_component {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.search-container {
  display: flex;
  align-items: center;
  padding-top: 5px;
  width: 80%;
}
.title {
  font-size: 15px;
  color: var(--praimary);
}
.search-input {
  width: 80%;
  height: 45px;
  padding-left: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: var(--shadow);
}
.btn-search {
  height: 45px;
  width: 15%;
  background-color: var(--primary);
  color: var(--body);
  border: none;
  align-items: center;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
}
.search-icon {
  padding-right: 12px;
}
@media (max-width: 1000px) {
  .search-input {
    width: 88%;
  }
  .btn-search {
    width: 22%;
  }
  .search-container {
    width: 95%;
  }
}
@media (max-width: 700px) {
  .search_component {
    width: 95%;
    margin: auto;
  }
  .btn-search {
    width: 25%;
  }
  .title {
    font-size: 13px;
    padding: 10px;
  }
  .btn-search {
    font-size: 10px;
  }
  .search-icon {
    padding-right: 3px;
  }
  .search-container {
    width: 95%;
  }
}
