.snapshot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  width: 75%;
  
}
.snapshot {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 220px;
 
}

.snapshot_percentage {
  height: 120px;
  text-align: center;
  padding-top: 45px;
  color: var(--body);
  font-weight: bold;
  font-size: 40px;
  border-bottom: 1px solid #ccc;
  border-radius: 15px 15px 0 0 ;

}
.snapshot_question {
  text-align: center;
  padding: 20px 15px;
  height: 100px;
  color: var(--body);
  font-size: 14px;
  border-radius: 0px 0px 15px 15px ;
}
.snapshot_percentage.one {
  background-color: #9d859d;
}
.snapshot_percentage.two {
  background-color: #206970;
}

.snapshot_percentage.three {
  background-color: #64925b;
}
.snapshot_question.one {
  background-color: rgba(157, 133, 157, 0.8);
}
.snapshot_question.two {
  background-color: rgba(32, 105, 112, 0.8);
}

.snapshot_question.three {
  background-color: rgba(100, 146, 91, 0.8);
}
@media (max-width: 650px) {
  .snapshot_percentage {
    font-size: 15px;
    height: 50px;
    padding-top: 15px;
    font-size: 22px;
  }
  .snapshot_question {
    padding: 5px 15px;
    height: 100px;
    font-size: 12px;
  }
  .snapshot {
    display: flex;
    flex-direction: column;
    border: 1px solid #d2c0d2;
    border-radius: 4%;
    width: 25%;
    height: 150px;
  }
  .snapshot-container {
    justify-content: space-evenly;
    width: 95%;
  }
}
