.snapshot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top:50px;

}
.snapshot{
  
    display: flex;
    flex-direction: column;
    border: 1px solid #D2C0D2;
    border-radius:4%;
    width:20%;
    height:200px;
    
}

.snapshot-percentage{
   
    height:130px;
    text-align: center;
    padding-top: 45px;
    /* border-radius: 4px; */
    color: #FFFFFF;
    font-weight: bold;
    font-size:40px
    
}
.snapshot-question{
    text-align: center;
    padding:10px 15px;
  
    height:70px;
    /* border-radius: 4px; */
    color: #FFFFFF;
    padding-top:20px
}
.one-percentage{
    background-color:#be4a57;
}
.one-percent{
    background-color: #e989af;
}
.two-percentage{
    background-color: #4683b6
}
.two-percent{
    background-color: #a6c8d2;
}

.three-percentage{
    background-color: #EC5C30
}
.three-percent{
    background-color: #FCBF4A;
    padding:10px 15px;
    padding-bottom:18px
}
@media (max-width: 650px) {
    .snapshot-percentage{

        font-size:15px
        
    }
    .snapshot-question{
    
        padding:5px 15px;
      
        height:130px;
      
        font-size:12px
   
    }
    .snapshot{
  
        display: flex;
        flex-direction: column;
        border: 1px solid #D2C0D2;
        border-radius:4%;
        width:25%;
        height:200px;
   
        
    }
  }
  