.snapshot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  width: 90%;
}
.snapshot {
  display: flex;
  flex-direction: column;
  border: 1px solid #d2c0d2;
  border-radius: 4%;
  width: 30%;
  height: 220px;
}

.snapshot-percentage {
  height: 120px;
  text-align: center;
  padding-top: 45px;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}
.snapshot-question {
  text-align: center;
  padding: 20px 15px;
  height:100px;
  color: #ffffff;
  font-size: 18px;
}
.one-percentage {
  background-color: #be4a57;
}
.one-percent {
  background-color: #e989af;
}
.two-percentage {
  background-color: #4683b6;
}
.two-percent {
  background-color: #a6c8d2;
}

.three-percentage {
  background-color: #ec5c30;
}
.three-percent {
  background-color: #fcbf4a;
  padding: 10px 15px;
  padding-bottom: 18px;
}
@media (max-width: 650px) {
  .snapshot-percentage {
    font-size: 15px;
    height: 50px;
    padding-top: 15px;
    font-size: 22px;
  }
  .snapshot-question {
    padding: 5px 15px;
    height: 100px;
    font-size: 12px;
  }
  .snapshot {
    display: flex;
    flex-direction: column;
    border: 1px solid #d2c0d2;
    border-radius: 4%;
    width: 25%;
    height: 150px;
  }
  .snapshot-container {
    justify-content: space-evenly;
    width: 95%;
  }
}
