.snapshot_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  width: 85%;
  padding-bottom: 50px;
}
.snapshot {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 150px;
  border: 1px solid #dddd;
  border-radius: 25px;
  padding:15px;
}


.snapshot_percentage {
  background-color: #f00;
  height: 50px;
  text-align: center;
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  padding-right: 25px;

  color: #344767;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid #ccc;
  border-radius: 15px 15px 0 0;
}
.snapshot_question {
  text-align: center;
  padding: 0px 15px;
  height: 58px;
  color: #ffff;
  font-size: 14px;
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
}
.snapshot:nth-child(1) .snapshot_percentage {
  background-color: #fff;
}
.snapshot:nth-child(2) .snapshot_percentage {
  background-color: #fff;
}

.snapshot:nth-child(3) .snapshot_percentage {
  background-color: #fff;
}
.persentage {
  color: #adacac;
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  padding-right: 25px;
  margin-top: -8%;
  font-weight: 500;
}
<<<<<<< HEAD
.snapshot:nth-child(1) .snapshot_question {
  background-color: #192e14;
}
.snapshot:nth-child(2) .snapshot_question {
  background-color: #6d812b;
}

.snapshot:nth-child(3) .snapshot_question {
  background-color: #f08001;
=======
 .snapshot_question {
  background-color: #1B5757;
>>>>>>> 1b47ecc214e98c8646c08b0cb1f7ba847d8f5da3
}
.img-snapshot {
  width: 25%;
  margin-top: -20px;
  box-shadow: 0rem 0.25rem 1.25rem 0remrgba (0, 0, 0, 0.14),
    0rem 0.4375rem 0.625rem -0.3125remrgba (233, 30, 98, 0.4);
}
.img {
  width: 100%;
  height: 60px;
}
@media screen and (max-width: 1000px) {
  .snapshot {
    width: 30%;
  }
}
@media (max-width: 700px) {
  .snapshot_percentage {
    font-size: 15px;
    height: 50px;
    padding-top: 15px;
    font-size: 22px;
  }
  .snapshot_question {
    padding: 5px 15px;
    height: 100px;
    font-size: 12px;
  }
  .snapshot {
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    width: 25%;
    height: 150px;
  }
  .snapshot_container {
    justify-content: space-evenly;
    width: 95%;
  }
}
