<div class="information-admin">
  <div>
    <div class="icon">
      <i class="pi pi-user icons" style="font-size: 2rem"></i>
      <h3>First Name</h3>
    </div>
    <span>{{ admin.firstName }}</span>
    <div class="icon">
      <i class="pi pi-user icons" style="font-size: 2rem"></i>
      <h3>Last Name</h3>
    </div>
    <span>{{ admin.lastName }}</span>
    <div class="icon">
      <img src="../../../assets/images/gmail.png" class="icons" />
      <h3>Email</h3>
    </div>
    <span>{{ admin.email }}</span>
  </div>
  <div>
    <div class="icon">
      <img src="../../../assets/images/manager.png" class="icons" />
      <h3>Postion title</h3>
    </div>

    <span>{{ admin.title }}</span>
    <div class="icon">
      <img src="../../../assets/images/telephone.png" class="icons" />
      <h3>Phone</h3>
    </div>

    <span>{{ admin.phone }}</span>
    <div class="icon">
      <img src="../../../assets/images/flags.png" class="icons" />
      <h3>Nationality</h3>
    </div>

    <span>{{ admin.nationality }}</span>
    <div class="icon">
      <img src="../../../assets/images/sex.png" class="icons" />
      <h3>Gender</h3>
    </div>
    <span>{{ admin.gender }}</span>
  </div>
</div>
