<div class="questions-container">
  <div class="questions">
    <p class="qiestion_line">{{ question.question }}</p>
    <p class="question-type">{{ question.title }}</p>
  </div>
  <div class="questions-statistics">
    <div class="statistics">
      <p class="stat_val">Agree</p>
      <div class="line">
        <p
          class="statistic agree"
          [ngStyle]="{ width: question?.agree + '%' }"
        ></p>
      </div>
      <p class="statistics-squre agree">{{ question.agree }}%</p>
    </div>
    <div class="statistics">
      <p class="stat_val">Neutral</p>
      <div class="line">
        <p
          class="statistic natural"
          [ngStyle]="{ width: question?.neutral + '%' }"
        ></p>
      </div>

      <p class="statistics-squre natural">{{ question.neutral }}%</p>
    </div>
    <div class="statistics">
      <p class="stat_val">Disagree</p>
      <div class="line">
        <p
          class="statistic disagree"
          [ngStyle]="{ width: question?.disagree + '%' }"
        ></p>
      </div>

      <p class="statistics-squre disagree">{{ question.disagree }}%</p>
    </div>
  </div>
</div>
