.charts{
    width: 50%;
    margin: 20px 5px;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 7px;
    padding: 15px;

}

.chart_legend {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  color: rgba(0, 0, 0, 0.76);
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
}

.legend_item {
  display: flex;
  align-items: center;
}
.legend_item .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin-right: 5px;
}
.legend_item .agree {
  background-color: #61c6cb;
}
.legend_item .neutral {
  background-color: #f7842a;
}
.legend_item .disgree {
  background-color: #be3635;
}

@media (max-width: 650px) {
  .charts{
    width: 90%;
    margin: 10px auto ;
  }
  .loader{
    z-index: -1;
  }
  .chart_legend {
    width: 100%;
    font-size: 15px;
  }

  .chart_legend {
    width: 100%;
    justify-content: space-around;
    font-size: 17px;
    padding: 7px;
  }
}
