<div class="charts">
  <div class="chart_legend" 
  *ngIf="(stackService.personalityStatistics$ | async)?.length !== 0"
  >
    <div class="legend_item">
      <span class="circle agree"> </span>
      <p>Agree</p>
    </div>
    <div class="legend_item">
      <span class="circle neutral"> </span>
      <p>Neutral</p>
    </div>
    <div class="legend_item">
      <span class="circle disgree"> </span>
      <p>Disagree</p>
    </div>
  </div>

  <div *ngIf="(stackService.personalityStatistics$ | async)?.length === 1">
    <p-progressSpinner class="loader"></p-progressSpinner>
  </div>

  <div
    *ngFor="let item of stackService.personalityStatistics$ | async"
    class="loop"
  >
    <app-stack-chart
      [header]="item.title"
      [statistics]="item"
    ></app-stack-chart>
  </div>

</div>
