<div class="welcome-container">
    <div class="welcome-image">
      <img src="../../../assets/images/logo.png" class="logo" />
      <img src="../../../assets/images/“.png" class="comma" />
  
      <p class="paragraph-welcome">
        We believe it’s time we changed the way we talk about climate action from
        being the elephant in <br />the room, to a part of everyday life
      </p>
      <div class="verctor-name">
        <span class="name">Charlotte Horler</span>
        <img src="../../../assets/images/Vector 1.png" class="vector" />
      </div>
    </div>
    <div class="join-container">
      <div class="nav-welcome">
        <img
          src="../../../../assets/images/arrow_back_ios_24px.png"
          class="arrow-back"
        />
        <span class="back">Back</span>
      </div>
      <div class="join">
        <h1 class="company-title">Let us know why you are here</h1>
        <p class="company-description">
            that help us understand how we can help you
        </p>
      </div>
  
      <div class="company-form">
        <label class="">What are your goals with Nula?</label>
        <textarea type="text"  class="name" [(ngModel)]="goals"></textarea>
  
        <label class="">How did you first hear about Nula?</label>
        <textarea type="text" class="name" [(ngModel)]="firsrHear"></textarea>

        <label class="">Have your company used before a platfrom for climate?</label>
        <textarea type="text" class="name" [(ngModel)]="platfrom"></textarea>
  
      
      
        <button class="company-btn" (click)="saveInterestQuestions()">Save & Finish</button>
       
      </div>
    </div>
  </div>
  