.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #dddd;
  /* background-color: rgb(31, 35, 85); */
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  box-shadow: 2px 2px #dddd;
  height: 850px;
  margin-bottom: 15%;
}
.welcome-image {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-image: url(../../../../assets/images/unsplash_t8MgrNitecE.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;

  text-align: center;
}
.logo {
  height: 100px;
  width: 200px;
  margin-left: 35%;
  display: block;
  padding-top: 50px;
  margin-top: 2%;
}
.comma {
  height: 30px;
  width: 30px;
  margin-left: 15%;
  margin-top: 15%;
}
.vector {
  height: 30px;
  width: 30px;
}
.paragraph-welcome {
  color: #fff;
  padding: 50px 80px;
  line-height: 1.8;
}

.verctor-name {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fff;
}
.arrow-back {
  height: 15px;
  width: 15px;
}
.join-container {
  padding-left: 50px;
  width: 58%;
}
.back {
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #8692a6;
}
.nav-welcome {
  padding-top: 50px;
}
.company-title {
  color: #000000;
  padding-top: 80px;
  text-align: center;
}
.company-description {
  color: #8692a6;
  text-align: center;
  line-height: 1.3;
  padding-top: 20px;
  font-size: 18px;
}
.company-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15%;
}
.name {
  width: 80%;
  padding: 20px 20px;
  border-radius: 6px;
}
label {
  color: #696f79;
  font-weight: bold;
  font-size: 16px;
  padding: 20px 0px;
}

.company-btn {
  background-color: #356431;
  border-radius: 6px;
  border: none;
  padding: 25px 0px;
  width: 80%;
  margin-top: 4%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40%;
}

.handle-error {
  color: #f00;
}
.massage {
  color: #f00;
  padding-top: 15px;
  text-align: center;
  padding-right: 150px;
}
@media (max-width: 700px) {
  .welcome-image {
    display: none;
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
  .welcome-container {
    border: 1px solid #dddd;

    width: 100%;
    box-shadow: 2px 2px #dddd;
    padding: 0px;
    margin: 0px;
  }
  .join-container {
    width: 100%;
  }
  .company-btn {
    margin-bottom: 40%;
  }
}

@media (max-width: 768px) {
  .welcome-container {
    width: 100%;
  }
}
