<app-stack-chart [data]="data" header="Personality"> </app-stack-chart>

<app-nav (isMenuopen)="checkMenu($event)"></app-nav>
<div class="content">
  <app-sidebar
    [isSideSmall]="openMenu"
    class="bowl_aside"
    [class.active]="openMenu"
  ></app-sidebar>
  <div class="main_container" [class.active]="openMenu">
    <app-search></app-search>
    <app-snapshot></app-snapshot>

    <div class="grid_charts">
    
      <app-location class="chart"></app-location>
      <app-age-statistics class="age_statistics chart"></app-age-statistics>
      <app-stack-charts class="charts_statistics chart"></app-stack-charts>
      <app-teams class="chart"></app-teams>
    </div>
  </div>
</div> 

