<div class="welcome-container">

    <div class="welcome-image">
        <img src="../../../assets/images/logo.png" class="logo" />
        <img src="../../../assets/images/“.png" class="comma" />
        
        <p class="paragraph-welcome">We believe it’s time we changed the way we talk about climate action from being the elephant in <br />the room, to a part of everyday life</p>
          <div class="verctor-name">
           <span class="name">Charlotte Horler</span>
           <img  src="../../../assets/images/Vector 1.png" class="vector">
          </div>
   
    </div>
    <div class="join-container">
      <div class="nav-welcome">
          <img  src="../../../../assets/images/arrow_back_ios_24px.png" class="arrow-back"/>
          <a [routerLink]="['/login']"><span class="back">Back</span></a>  
      </div>
   <div class="join">
       <h1 class="register-title">Register Company Account!</h1>
        <p class="register-description">For the purpose of industry regulation, your details are required.</p>
   
   
    </div>

    <div class="register-form">
        <form [formGroup]="proForm" class="register-form-input" name="regform">
        <label class="">Full Name *</label>
        <input type="text" placeholder="Enter Full Name" class="name" formControlName="name"  required />
        <div *ngIf="r['name'].touched && r['name'].invalid">
            <div *ngIf="r['name'].errors && r['name'].errors['required']" class="handle-error">Name is required.</div>
 
         </div>
               <label class="">Phone Number</label>
            <input type="number" placeholder="Enter Phone Number" class="name"formControlName="phone" />
            <div *ngIf="r['phone'].touched && r['phone'].invalid">
                <div *ngIf="r['phone'].errors && r['phone'].errors['required']" class="handle-error">phone is required.</div>
     
             </div>
        </form>
            <form [formGroup]="registerForm"  class="register-form-input"> 
            <label class="">Email Address *</label>
        <input type="text" placeholder="Enter Email Address" class="name" formControlName="email" required />
        <div *ngIf="f['email'].touched && f['email'].invalid">
            <div *ngIf="f['email'].errors && f['email'].errors['required']" class="handle-error">Email is required.</div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']" class="handle-error">Please, enter valid email address.</div>
         </div>

        <label class="">Create Password *</label>
        <input type="password" placeholder="Enter Password" class="name" formControlName="password" required minlength="3" />
        <div *ngIf="f['password'].touched && f['password'].invalid">
            <div *ngIf="f['password'].errors && f['password'].errors['required']" class="handle-error">Password is required.</div>
            <div *ngIf="f['password'].errors && f['password'].errors['password']" class="handle-error">Please, enter valid password.</div>
         </div>
    </form>
  

       <a [routerLink]="['/login']">login</a>
       <button class="register-btn" (click)="register()">Register Account</button>
       <p class="massage">{{massage}}</p>
 
    </div>
   </div>
   