.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: space-around;
  width: 100%;

  margin-right: 50%;
  padding-top: 100px;
}
.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding-left: 50px;
  padding-bottom: 50px;
}

.profile-inputs {
  display: flex;
  flex-direction: column;
}
.admin-profile-name {
  display: flex;

  width: 59%;
  flex-direction: row;
  justify-content: space-around;
}
.admin-profile-name input {
  padding: 12px 0px;
  width: 290%;
}
.info-input {
  width: 61%;
  padding: 12px 0px;
}
.label {
  padding-top: 15px;
  padding-bottom: 15px;
}
.label-profile {
  display: flex;
  flex-direction: column;
}
.bacic-word {
  padding-left: 150px;
  color: #000000;

  width: 100%;
}
.profile-save-btn {
  padding: 10px 0px;
  background-color: #89b758;
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 50%;
  margin-left: 50%;
}

.admin-profile-three {
  margin-left: 10.5%;
  display: flex;
  flex-direction: column;
}
.profile-skip-btn {
  background-color: #cecece;
  border-radius: 25px;
  border: none;
  padding: 10px 0px;

  color: #fff;
  border: none;
  margin-left: 2%;
  width: 50%;
}
table {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
.admin-information {
  display: flex;
  flex-direction: row;
  width: 45%;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px #ddd;
  text-align: center;
  justify-content: space-between;
  color: #000;
  margin-left: 25%;
  margin-top: 10%;
  padding-bottom: 25px;
  padding-left: 150px;
}

@media (max-width: 700px) {
  .admin-information {
    width: 100%;

    margin-left: 2%;

    padding-left: 50px;
  }

  .basic-info {
    width: 100%;
  }
  .profile-inputs {
    margin-top: -50%;
    margin-left: 20%;
  }
  .bacic-word {
    padding-left: 0px;

    margin-left: 12%;
  }
  table {
    width: 100%;
    margin-left: 0%;
    margin-top: 8%;
  }

  .profile-save-btn {
    background-color: #89b758;

    width: 25%;
    margin-left: 0px;
  }
  .admin-profile-name {
    display: flex;

    width: 25%;
    flex-direction: column;
    justify-content: space-around;
  }
  .profile-skip-btn {
    width: 25%;
    margin-right: 153px;
  }
  .info-input {
    width: 72%;
    padding: 12px 0px;
  }
  .admin-profile-three {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 0px;
    height: 1000px;
  }
}
