.profile-container {
  display: flex;
  flex-direction: column;
  margin: 100px 100px 0 250px;
}
.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.basic-word {
  color: var(--text);
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}
.profile-btn {
  padding: 12px;
  background-color: #89b758;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 120px;
}
.skip {
  background-color: aliceblue;
  color: #000;
}
.label-profile {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 5px 0;
}
.admin-profile-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}
.info-input {
  padding: 12px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid #e9e9e9;
  margin: 10px 0;
}

.admin-profile-three {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .profile-container {
    margin: 100px 0 0 0;
  }
  .basic-info {
    width: 100%;
  }
  .info-input {
    padding: 12px;
    width: 300px;
  }
  .admin-profile-table {
    margin: auto;
  }
  .basic-info {
    width: 80%;
    margin: auto;
  }

}
