
    <div class="welcome-container">

        <div class="welcome-image">
            <img src="../../../assets/images/logo.png" class="logo" />
            <img src="../../../assets/images/“.png" class="comma" />
            
            <p class="paragraph-welcome">We believe it’s time we changed the way we talk about climate action from being the elephant in <br />the room, to a part of everyday life</p>
              <div class="verctor-name">
               <span class="name">Charlotte Horler</span>
               <img  src="../../../assets/images/Vector 1.png" class="vector">
              </div>
       
        </div>
        <div class="join-container">
          <div class="nav-welcome">
              <img  src="../../../../assets/images/arrow_back_ios_24px.png" class="arrow-back"/>
         <a [routerLink]="['/login']"><span class="back">Back</span></a>  
          </div>
       <div class="join">
       
            <h1>Reset Password</h1>
            <label>Email</label>
            <input type="text" name="email"  [(ngModel)]="email" placeholder=" Enter your email address"/>
            
            <button (click)="resetPassword()" class="reset-btn">Submit</button>
        
       
        </div>
       </div>