

.welcome-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    border: 1px solid #dddd;
    /* background-color: rgb(31, 35, 85); */
    width: 80%;
    margin-left:10%;
    margin-top:2%;
    box-shadow: 2px 2px #dddd;
    height:500px;
    margin-bottom: 15%;

}
.welcome-image{
    display:flex;
    flex-direction:column;
    background-image:url('../../../assets/images/unsplash_t8MgrNitecE.png');
    background-size: cover;
    background-repeat:no-repeat;
    /* height:1000px; */

text-align:center;

}
.logo{
    height: 100px;
    width: 200px;
    margin-left: 35%;
    display: block;
 padding-top:50px;
 margin-top: 2%;

 
}
.comma{
    height: 30px;
    width: 30px;
    margin-left: 15%;
    margin-top: 2%;
}
.vector{
    height: 30px;
    width: 30px;
}
.paragraph-welcome{
    color: #fff;
    padding:50px 80px;
    line-height: 1.8

}


.verctor-name{
    padding-top :20px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
color: #fff;
}
.arrow-back{
    height:15px;
    width:15px;

}
.join-container{
    padding-left: 50px;
    width: 58%;
}
.join{
    padding-top: 60px;
    display: flex;
    flex-direction:column;
}
.join h1{
    color: black;
    font-size:18px;
}
.join input{
    padding:15px;
    width: 85%;
}
.back{
    padding-left:15px;
    font-size:16px;
    font-weight: bold;
    color: #8692A6;
}
.nav-welcome{
    padding-top: 50px;
}



.name{
    width: 80%;
    padding:20px 20px;
    border-radius:6px
}
label{
    color:#696F79;
    font-weight:bold;
    font-size:16px;
    padding:20px 0px;
}

.reset-btn{
    background-color:#356431;
    border-radius:6px;
    border: none;
    padding:15px 0px;
    width:85%;
    margin-top:5%;
    font-size:16px;
    font-weight: bold;
}
@media (max-width:700px) {

    .welcome-image{
        display:none;visibility:hidden;
    padding:0;
    margin:0
    }
    .welcome-container{
      
   
        border: 1px solid #dddd;
    
        width: 100%;
        box-shadow: 2px 2px #dddd;
        padding: 0px;
        margin: 0px;
      
       
    }
    .join-container{
      
         width: 100%;
        
    }
   
}