<div class="welcome-container">
  <app-auth-image-side class="auth_image"></app-auth-image-side>
  <div class="join-container">
    <div class="join">
      <h1 class="company-title">Complete Your Company Profile!</h1>
      <p class="company-description">
        For the purpose of industry regulation, your details are required..
      </p>
    </div>

    <div class="companyform">
      <form [formGroup]="companyform" class="company-form">
        <label class="">Company Name</label>
        <input
          type="text"
          placeholder="Enter Company Name"
          class="name"
          formControlName="companyName"
        />
        <div *ngIf="f['companyName'].touched && f['companyName'].invalid">
          <div
            *ngIf="
              f['companyName'].errors && f['companyName'].errors['required']
            "
            class="handle-error"
          >
          Field is required.
          </div>
        </div>
        <label class="">Company address</label>
        <input
          type="text"
          placeholder="Enter Company address"
          class="name"
          formControlName="companyAddress"
        />
        <div *ngIf="f['companyAddress'].touched && f['companyAddress'].invalid">
          <div
            *ngIf="
              f['companyAddress'].errors &&
              f['companyAddress'].errors['required']
            "
            class="handle-error"
          >
          Field is required.
          </div>
        </div>
        <label class="">Your office</label>
        <input
          type="text"
          placeholder="Enter Your office"
          class="name"
          formControlName="office"
        />
        <div *ngIf="f['office'].touched && f['office'].invalid">
          <div
            *ngIf="f['office'].errors && f['office'].errors['required']"
            class="handle-error"
          >
          Field is required.
          </div>
        </div>
        <label class="">Number of employees</label>
        <input
          type="number"
          placeholder="Enter Number of employees"
          class="name"
          formControlName="employeeNumber"
        />
        <div *ngIf="f['employeeNumber'].touched && f['employeeNumber'].invalid">
          <div
            *ngIf="
              f['employeeNumber'].errors &&
              f['employeeNumber'].errors['required']
            "
            class="handle-error"
          >
           Field is required.
          </div>
        </div>
      </form>
      <p class="massage">{{ massage }}</p>
      <button class="company-btn" (click)="saveProfileCompany()">
        Save & Continue
      </button>
    </div>
  </div>
</div>
