.welcome-container {
  display: flex;
  border: 1px solid #dddd;
  width: 75%;
  margin: 15px auto;
  box-shadow: 2px 2px #dddd;
  height: 600px;
  margin-bottom: 70%;
}
.auth_image {
  width: 50%;
}

.join-container {
  padding-left: 50px;
  width: 50%;
}

.arrow-back {
  height: 15px;
  width: 15px;
}
.back {
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #8692a6;
}
.nav-welcome {
  padding-top: 50px;
}
.company-title {
  color: #000000;

  color: #000000;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
}
.company-description {
  color: #8692a6;
  text-align: center;
  line-height: 1.3;
  padding-top: 20px;
  font-size: 14px;
}
.company-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 12%;
}
.name {
  width: 90%;
  padding: 15px 20px;
  border-radius: 6px;
}
label {
  color: #696f79;
  font-weight: bold;
  font-size: 14px;
  padding: 20px 0px;
}

.company-btn {
  background-color: #356431;
  border-radius: 6px;
  border: none;
  padding: 12px 0px;
  width: 90%;
  margin-top: 2%;
  font-size: 14px;

  color: #fff;
}
.company-form {
  margin-left: -0.5%;
  display: flex;
  flex-direction: column;
  /* background-color: #8692A6; */
}
.handle-error {
  color: red;
}
.massage {
  color: #f00;
  padding-top: 15px;
  text-align: center;
}
@media (max-width: 700px) {
  .welcome-image {
    display: none;
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
  .welcome-container {
    border: 1px solid #dddd;

    width: 100%;
    box-shadow: 2px 2px #dddd;
    padding: 0px;
    margin: 0px;
  }
  .join-container {
    width: 100%;
  }
  .company-btn {
    margin-bottom: 40%;
  }
}

@media (max-width: 768px) {
  .welcome-container {
    width: 100%;
  }
}
