<div class="welcome-container">
  <div class="welcome-image">
    <img src="../../../assets/images/logo.png" class="logo" />
    <img src="../../../assets/images/“.png" class="comma" />

    <p class="paragraph-welcome">
      We believe it’s time we changed the way we talk about climate action from
      being the elephant in <br />the room, to a part of everyday life
    </p>
    <div class="verctor-name">
      <span class="name">Charlotte Horler</span>
      <img src="../../../assets/images/Vector 1.png" class="vector" />
    </div>
  </div>
  <div class="join-container">
    <div class="nav-welcome">
      <img
        src="../../../../assets/images/arrow_back_ios_24px.png"
        class="arrow-back"
      />
      <span class="back">Back</span>
    </div>
    <div class="join">
      <h1 class="company-title">Complete Your Company Profile!</h1>
      <p class="company-description">
        For the purpose of industry regulation, your details are required..
      </p>
    </div>

    <div class="company-form">
      <label class="">Company Name</label>
      <input type="text" placeholder="Enter Company Name" class="name" />

      <label class="">Company address</label>
      <input type="text" placeholder="Enter Company address" class="name" />

      <label class="">Your office</label>
      <input type="text" placeholder="Enter Your office" class="name" />

      <label class="">Number of employees</label>
      <input
        type="number"
        placeholder="Enter Number of employees"
        class="name"
      />
      '
      <label class="">Your company holiday dates</label>
      <input
        type="number"
        placeholder="Pleas Select"
        class="name"
      />
      '
      <button class="company-btn">Save & Continue</button>
     
    </div>
  </div>
</div>
