.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
padding-top:5px

   
}
.title{
    font-size:15px;
    color: #696F79;
    padding-left: 10%;
    padding-top: 50px;
   
}
.search-input{
    width:65%;
    height:38px;    
}
.btn-search{
    height: 38px;
  width:15%;
  background-color: #045758;
  color: #fff;
  border: none;
align-items: center;
margin-left: 10px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
border-radius: 5px;
}
.search-icon{
    padding-right: 12px;
}
@media (max-width: 650px) {
    .btn-search{
    
      width:25%;
    }
   
  }